<div style="background: #ffffff;min-width: 340px;font-size: 1px;padding: 50px 24px; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <table style="margin: 0 auto; max-width: 560px; width: 100%;background-color: #ecf0f3;text-align: center; border: none; border-collapse: collapse; border-radius: 6px 6px 0 0; overflow: hidden; ">
        <thead>
        <tr style="background-color: #f0f2f3;display: block;width: 100%;">
            <td style="height: 28px;padding: 18px;text-align: center;display: block;vertical-align: middle;">
                <img src="{{ backendEndpoint ~ '/logo.png' }}"  height="30px" style="display: block; margin: 0 auto">
            </td>
        </tr>
        </thead>
        <tbody style="background: #f7f8f9;margin: 0 auto; border-radius: 6px 6px 0 0; overflow: hidden;color: #8985A4; text-align: left;font-size: 16px;line-height: 22px;">
        <tr>
            <td height="20px" style="padding: 32px 40px 14px;">
                Hello,
            </td>
        </tr>
        <tr>
            <td height="20px" style="padding: 10px 40px 14px">
                <a href="{{ sponsorUrl }}">{{ name }}</a> has boosted <a href="{{ articleUrl }}">{{ title }}</a>
            </td>
        </tr>
        <tr>
            <td height="20px" style="padding: 10px 40px 32px">
                Slog Community
            </td>
        </tr>
        </tbody>
    </table>
</div>